.publications__item-list {
    margin-bottom: 10px;
}

.publications__item-list:last-of-type {
    margin-bottom: 0;
}

.publications__wrapper-top {
    margin-top: 5px;
    padding: 10px;
    position: relative;
    display: flex;
}

.publications__wrapper-image {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.publications__avatar-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.publications__wrapper-text {

}

.publications__id-profile {
    font-weight: 700;
    font-size: 15px;
}

.publications__link-location {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
    font-size: 13px;
    font-weight: 500;

}

.publications__button-action-menu {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0, -50%);
    background: no-repeat center/20px url("../../../../images/icon/icon-three-dots.svg");
}

.publications__item-image {
    width: 100%;
}

.publications__wrapper-bottom {
    padding: 10px;
}

.publications__wrapper-button {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.publications__wrapper-left-buttons {

}

.publication__button {
    width: 20px;
    height: 20px;
}


.publication__button-like {
    margin-right: 5px;
    background: no-repeat center/20px url("../../../../images/icon/icon-like.svg");
}

.publication__button-comment {
    margin-right: 5px;
    background: no-repeat center/20px url("../../../../images/icon/icon-message.svg");
}

.publication__button-share {
    background: no-repeat center/20px url("../../../../images/icon/icon-paper-plane.svg");
    margin-right: 0;
}

.publication__button-notes {
    background: no-repeat center/20px url("../../../../images/icon/icon-save.svg");
    margin-right: 0;
}

.publications__likes {
    font-weight: 500;
    font-size: 13px;
}

.publications__likes-count {

}